@media (max-width:375px)  {
    .navigation,
    .action-block  {
        display: none;
    }
    .burger-bar {
        color:#fff;
        background-color: #000;
        display: flex;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }}
    @media(max-width:1024px){
        .conteiner{
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .left-block{
            width: 960px;
            height: 348px;
            margin: 0 auto;
            flex-direction: column;
        }
        .font-00{
            width: 630px;
            height: 120px;
            margin: 0 auto;
            margin-top: 82px;
        }
        .font-01{
            width: 630px;
            height: 56px;
            margin: 0 auto;
            
        }
        .font-02{
            margin-bottom: 82px;
        }
        .poto-pizza{
            width: 100%;
            height: 450px;
        }
    }
    @media(max-width:744px){
        .conteiner{
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
        }
        .left-block{
            width: 696px;
            margin: 0 auto;
            flex-direction: column;
        }
        .poto-pizza{
            margin: 0 auto;
            width: 100%;
            margin-right:  24px;
         }   
        .font-00 {
            width: 696px;
            height: 49px;
            margin: 38 24 24 24px;
            font-size: 40px;
        }
        .font-01{
            margin-bottom: 80px;
        }
        
    }
    @media(max-width:375px){
        .conteiner{
            width: 90%;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
        }
        .left-block{
            width: 327px;
            margin: 0 auto;
            flex-direction: column;
        }
        .font-00 {
            text-align: center;
            align-items: center;
            width: 327px;
            height: 97px;
            margin: 20 24 24 24px;
            font-size: 40px;
        }
        .font-01{
            width: 327px;
            height: 84px;
            margin-bottom: 80px;
            font-size: 18px;
        }
        .poto-pizza{
            margin: 0 auto;
            padding: 10px;
            gap: 10px;
            width: 327px;
            height: 309px;}
        .flex-header{
            width: 100%;

        }    

    }
   @media(max-width:1024px){
     .container-block flex-block{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 auto;

     }
     .block01{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 0px;
       gap: 16px;
       width: 279.33px;
       height: 176px;
   }
   .font-04{
     width: 279.33px;
     height: 120px;
   }
   @media (max-width:1024px) {
    .poto-moto {
    width: 960px;
    height: 550px;
    }
    .flex-container{
        flex-direction: column;
        column-gap: 64px;
    }
    .right-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .font-05{ 
    width:415.5px ;
    height: 96px;}
    .left-block{
        width: 100%;
        margin-bottom: 64px;
    }
    .poto-moto{
        width: 100%;
    }
    .title {
        width: 415.5px;
        height: 185px;
    }
   }







   

    

@media (max-width: 910px) {
    .flex-height-block {
        height: auto;
    }
}

@media (max-width: 744px) {
    .right-block {
        flex-direction: column;
        text-align: center;
    }
    .descr {
        width: 100%;
    }
    .flex-block {
        flex-direction: column;
        text-align: center;
    }
    .block01 {
        width: 100%;
    }
    .black-block {width: 279.33px;height: 120px;
        margin: 0 auto;
        width: 179px;
    }
  
}
